.houses__container {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 10px;
}
.page {
    background-color: #f4e6cb;
}