.filterPopup__btn {
  border: none;
  background-color: #e0c695;
  cursor: pointer;
  position: absolute;
  padding: 0;
  right: 10px;
  top: 10px;
}
.filterPopup__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 800px;
  width: 70%;
  align-content: flex-start;
  column-gap: 50px;
  
}

.filterPopup__box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px;
}
